<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ELETRONICA GLOBO 🌍</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>ELETRONICA GLOBO 🌍 - ORDEM DE SERVIÇO📋</h1>
    
        <li><a href="{{ url_for('cadastrar') }}">1-Cadastro de Ordem de Serviço📝</a></li>
        <li><a href="{{ url_for('relatorio') }}">2-Relatório de Ordem de Serviço🔍</a></li>
        
    <p>5-Sair✋ (Encerrar o servidor Flask)</p>
    </body>
</html>